html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#map {
  flex-grow: 1;
  width: 100%;
}

.coordinates-container {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.arealist-container {
  position: absolute;
  top: 350px;
  left: 10px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

.header input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 120px);
}

.header button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.header button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #6c757d;
}

.reset-button:hover {
  background-color: #5a6268;
}
